# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
target/
dist/
build/

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Test
test.json
test_result.txt
